@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body{
    color: #FFFDEA;
}
.fa {
    color: #FFFCE9;
    font-size: larger;
}
.login-block{
    background: #DE6262;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 50px 0;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;

  background-size: 100%, 100%;

  background-image: none !important;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #E87995;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #E87995;
}
.form-control{
    background-color: #FFFDEA !important;
}
.container{background:#fff;}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative; background: linear-gradient(to top, #de6262, #ffb88c);}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; }
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:20px; font-family: Amatic SC; font-size:30px; }
.btn-login{background: #978D8D; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}
.form-row {

    margin-bottom: 1rem !important;
}